.main {
    text-align: center;
}

.timer  {
position: absolute;
float:  right;
right: 0px;
width: 300px;
}

.highScores {
display: inline-block;
}

.center {
    margin: auto;
    text-align: center;
}

.button-display {
    background-color: blueviolet;
    border: 10px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 12px 28px;
}